
body {
    font-family: 'Trebuchet MS','Poppins', sans-serif;
    background-color: #ed6a5a;
    color: #ffffff;
}

h1 {
    text-align: center;
    color:#ffffff;
    font-size:4em;
}


/*button fake out
/* The alert message box 
.alert {
    padding: 20px;
    background-color: #f44336; /* Red 
    color: white;
    margin-bottom: 15px;
  }
  
  /* The close button 
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the smouse over the close button 
  .closebtn:hover {
    color: black;
  }


.hiddenThing{
    display:none;
}
*/
/*START more button
.hide {
  display: none;
}



.myDIV {
    background-color: #124769; 
  border: none;
  color: #ffffff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.myDIV:hover {
    background-color: #9bc1bc;
    color:#124769;
  }

.myDIV:hover + .hide {
  display: block;
  color: rgb(17, 0, 255);
}


END more button*/

p {
    text-align: justify;
    padding-left: 5em;
    padding-right: 5em;
}

/*START event slides*/
.event-name1 {
    text-align: left;
    margin-left: 150px;
    font-size:3em;
    color:#124769;
    background-color: #f4f1bb;
}

.event-name2 {
    text-align: left;
    margin-left: 150px;
    font-size:3em;
    color:#f4f1bb;
    background-color: #124769;
}
.event-name3 {
    text-align: left;
    margin-left: 150px;
    font-size:3em;
    color:#124769;
    background-color: #9bc1bc;
}
.event-name4 {
    text-align: left;
    margin-left: 150px;
    font-size:3em;
    color:#124769;
    background-color: #f4f1bb;
}
.event-name5 {
    text-align: left;
    margin-left: 150px;
    font-size:3em;
    color:#f4f1bb;
    background-color: #124769;
}
.event-name6 {
    text-align: left;
    margin-left: 150px;
    font-size:3em;
    color:#124769;
    background-color: #9bc1bc;
}
.event-name7 {
    text-align: left;
    margin-left: 150px;
    font-size:3em;
    color:#124769;
    background-color: #f4f1bb;
}
.event-name8 {
    text-align: left;
    margin-left: 150px;
    font-size:3em;
    color:#f4f1bb;
    background-color: #124769;
}
.event-name9 {
    text-align: left;
    margin-left: 150px;
    font-size:3em;
    color:#124769;
    background-color: #9bc1bc;
}

/*END event slides*/

.carousel {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 26px;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    text-align: center;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: block;
    height: auto;
    max-width: 100%;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3,
#carousel-4:checked ~ .control-4,
#carousel-5:checked ~ .control-5,
#carousel-6:checked ~ .control-6,
#carousel-7:checked ~ .control-7,
#carousel-8:checked ~ .control-8,
#carousel-9:checked ~ .control-9 {
    display: block;
}

/* bottom dot placeholders*/
.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #f4f1bb;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet,
#carousel-4:checked ~ .control-4 ~ .carousel-indicators li:nth-child(4) .carousel-bullet,
#carousel-5:checked ~ .control-5 ~ .carousel-indicators li:nth-child(5) .carousel-bullet,
#carousel-6:checked ~ .control-6 ~ .carousel-indicators li:nth-child(6) .carousel-bullet,
#carousel-7:checked ~ .control-7 ~ .carousel-indicators li:nth-child(7) .carousel-bullet,
#carousel-8:checked ~ .control-8 ~ .carousel-indicators li:nth-child(8) .carousel-bullet,
#carousel-9:checked ~ .control-9 ~ .carousel-indicators li:nth-child(9) .carousel-bullet{
    color: #428bca;
}
/* END bottom dot placeholders*/




  

@media (min-width: 500px) { /*500 px not 4000 bc more room is good*/
.grid, nav ul,.photos{
        flex-direction: column;
    }

}


/*
#ed6a5a
#f4f1bb
#9bc1bc
*/